html 
{
    background-color: orange;
    font-family: sans-serif;
    font-size: 12pt;
}

h1
{
	font-size: 18pt;
}

h2
{
	font-size: 14pt;
}

table
{
    border: thin solid gray;
    border-collapse: collapse;
}

td, th
{
	padding-left: 1em;
	padding-right: 1em;
	border: thin solid gray;
}
