html 
{
    background-color: orange;
    font-family: sans-serif;
}

header 
{
    font-size: 2em;
    font-weight: bold;
    background-color: white;
    color: #00ABF8;
    padding: 0.25em;
    margin-bottom: 0.5em;
}

header .openbtn
{
    color: darkgray;
    text-decoration: none;
    padding-right: 0.5em;
}

header .logo
{
    content: url(Logo.png);
    height: 1.25em;
    float: right;
}

nav
{
    font-size: 1.5em;
    height: 100%;
    width: 0; /* Start hidden; changed by JavaScript */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 2em;
    transition: 0.5s;
}
  
nav .closebtn
{
    position: absolute;
    top: 0;
    right: 0.5em;
}

nav a
{
    padding: 0.5em;
    text-decoration: none;
    color: gray;
    display: block;
}
  
nav a:hover
{
    color: white;
}

.icon 
{
    width: 1em;
    padding-right: 0.25em;
    float: left;
}

.button
{
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-color: gray;
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
    margin: 0.5em;
}

.flex-container
{
    display: flex;
    flex-flow: row wrap;
}

section
{
    background-color: lightgray;
    opacity: 80%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

section h1
{
    font-size: 1.5em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.pager
{
    font-size: 1.5em;
    padding: 5px;
    margin-bottom: 5px;
}

.pager span
{
    padding: 5px;
    background-color: lightgray;
    opacity: 80%;
}

.pager a
{
    padding: 5px;
    text-decoration: none;
}

.pager a:hover
{
    color: white;
}

form
{
    display: grid;
    grid-template-columns: 10em auto;
    max-width: 30em;
    grid-gap: 0.5em;
}

form label 
{
    grid-column: 1;
    text-align: right;
}

form input
{
    grid-column: 2;
}

pre
{
    font-size: 1.25em;
    padding: 0.5em;
    background-color: white;
    color: black;
}

table
{
    border-collapse: collapse;
}

td,th
{
	padding-left: 0.5em;
	padding-right: 0.5em;
    border: thin solid gray;
}

td
{
    text-align: right;
}

td.graph
{
    text-align: left;
    border: none;
}

@media screen and (max-width: 1000px)
{
    td.graph
    {
        display: none;
    }
}


.setBar
{
	background-color: yellow;
    color: yellow;
}

.flameBar
{
	background-color: red;
    color: red;
}

.powerBar
{
	background-color: red;
    color: red;
}

.waterBar
{
	background-color: blue;
    color: blue;
}

.outsideBar
{
	background-color: green;
    color: green;
}

.overrideBar
{
	background-color: black;
    color: black;
}

.barFill
{
	background-color: gray;
    color: gray;
}

.emptyBar
{
    opacity: 0;
}


