html 
{
    color: black;
    background-color: lightgrey;
    font-family: sans-serif;
}

header 
{
    font-size: 2em;
    font-weight: bold;
    background-color: blue;
    color: white;
    padding: 0.25em;
    margin-bottom: 0.5em;
}

header .openbtn
{
    color: darkgray;
    text-decoration: none;
    padding-right: 0.5em;
}

header .logo
{
    content: url(Logo.png);
    height: 1.25em;
    float: right;
}

nav
{
    font-size: 1.5em;
    height: 100%;
    width: 0; /* Start hidden; changed by JavaScript */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 2em;
    transition: 0.5s;
}
  
nav .closebtn
{
    position: absolute;
    top: 0;
    right: 0.5em;
}

nav a
{
    padding: 0.5em;
    text-decoration: none;
    color: gray;
    display: block;
}
  
nav a:hover
{
    color: white;
}

.icon 
{
    width: 1em;
    padding-right: 0.25em;
    float: left;
}

.button
{
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
    margin-top: 0.5em;
}

table
{
    border-collapse: collapse;
}

td,th
{
	padding-left: 0.5em;
	padding-right: 0.5em;
    border: thin solid gray;
}

td
{
    text-align: right;
}
