html 
{
    color: black;
    background-color: lightblue;
    font-family: sans-serif;
}

header 
{
    font-size: 2em;
    font-weight: bold;
    background-color: green;
    color: white;
    padding: 0.25em;
    margin-bottom: 0.5em;
}

header .openbtn
{
    color: darkgray;
    text-decoration: none;
    padding-right: 0.5em;
}

header .logo
{
    content: url(Logo.png);
    height: 1.25em;
    float: right;
}

nav
{
    font-size: 1.5em;
    height: 100%;
    width: 0; /* Start hidden; changed by JavaScript */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 2em;
    transition: 0.5s;
}
  
nav .closebtn
{
    position: absolute;
    top: 0;
    right: 0.5em;
}

nav a
{
    padding: 0.5em;
    text-decoration: none;
    color: gray;
    display: block;
}
  
nav a:hover
{
    color: white;
}

.icon 
{
    width: 1em;
    padding-right: 0.25em;
    float: left;
}

.button
{
    display: inline-block;
    font-size: 2em;
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
    margin-top: 0.5em;
}

.flex-container
{
    display: flex;
    flex-flow: row wrap;
}

section
{
    background-color: lightgray;
    opacity: 80%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

section h1
{
    font-size: 1.5em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.grid
{
    display: grid;
    grid-template-columns: 10em auto;
    max-width: 30em;
    grid-gap: 0.5em;
}

.grid label 
{
    text-align: right;
}

.grid input
{
    grid-column: 2;
}

pre
{
    font-size: 1.25em;
    background-color: white;
    color: black;
    padding: 5px;
}

table
{
    border-collapse: collapse;
}

td,th
{
	padding-left: 0.5em;
	padding-right: 0.5em;
    border: thin solid gray;
}

td
{
    text-align: right;
}

td.graph
{
    text-align: left;
    border: none;
}

.tInsideBar
{
	background-color: yellow;
    color: yellow;
}

.tOutsideBar
{
	background-color: green;
    color: green;
}

.barFill
{
	background-color: gray;
    color: gray;
}

.emptyBar
{
    opacity: 0;
}
